<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CodeMath</a>
    <button class="navbar-toggler" routerLink="/" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dflex">
      <button mat-raised-button color="primary" routerLink="/login" *ngIf="!userIsAuthenticated">Login</button>
      <button mat-raised-button color="accent" routerLink="/sign-up/student"
        *ngIf="!userIsAuthenticated">Sign-up</button>
      <div class="collapse navbar-collapse" id="navbarNav" *ngIf="userIsAuthenticated">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/classes" routerLinkActive="active">Classes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/content-library" routerLinkActive="active">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/progress" routerLinkActive="active">Progess</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
              aria-expanded="false">{{getName()}}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- <ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">CodeMath</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active">Classes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active">Library</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active">Progess</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Something{{getName()}}</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
    </ul>
  </li>
</ul> -->



<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">CodeMath</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
      <div>
        <button
          class="btn btn-outline-success"
          routerLink="/login"
          *ngIf="!userIsAuthenticated"
        >
          Login
        </button>
        <button
          class="btn btn-outline-primary"
          routerLink="/sign-up/student"
          *ngIf="!userIsAuthenticated"
        >
          Sign-Up
        </button>
        <div ngbDropdown class="dropdown" *ngIf="userIsAuthenticated">
          <button
            ngbDropdownToggle
            mat-button
            color="accent"
            type="button"
            id="userSettingsDropdown"
            aria-expanded="false"
          >
            {{ getName() }}
          </button>
          <ul ngbDropdownMenu aria-labelledby="userSettingsDropdown">
            <li>
              <a ngbDropdownItem routerLink="/classes" routerLinkActive="active"
                >My Classes</a
              >
            </li>
            <li><a ngbDropdownItem>Profile</a></li>
            <li><a ngbDropdownItem (click)="onLogout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav> -->