<form [formGroup]="createEditLessonForm" (ngSubmit)="onSubmit()">
<div class="d-flex flex-column align-items-center">

    <!-- Create nav bar like feel at top -->
    <button class="close-button" mat-icon-button [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
    </button>
    <h6>{{action}} Lesson</h6>
    <button class="create-button" mat-raised-button [disabled]="!createEditLessonForm.valid" type="submit" color="primary">{{action}}!</button>

    <hr style="width: 100%">

    <!-- Create card for the standard lesson info -->

    <mat-card>

        <mat-card-header>
            <mat-card-title>Lesson Basic Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Name:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="!createEditLessonForm.get('name').valid && createEditLessonForm.get('name').touched">Please enter a name.</mat-error>
            </mat-form-field>

            <editor
                apiKey="52jc5ok3imvi0onsfxi7054gt4ed9xmwbwlzyqmuh7l1bgtp"
                [init]="{
                    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                    mergetags_list: [
                      { value: 'First.Name', title: 'First Name' },
                      { value: 'Email', title: 'Email' },
                    ]}"
                formControlName="content"
            ></editor>
        </mat-card-content>
    </mat-card>


    <!-- Create card to add definitions -->
    <mat-card>
        <mat-card-header class="d-flex justify-content-between">
                <mat-card-title>Lesson Definitions</mat-card-title>
                <button type="button" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
        </mat-card-header>
        <mat-card-content>
            <p>Add a definition...</p>
        </mat-card-content>
    </mat-card>


</div>
</form>



