<form [formGroup]="createLessonForm" (ngSubmit)="onSubmit()">
<div class="d-flex flex-column align-items-center">

    <!-- Create nav bar like feel at top -->
    <button class="close-button" mat-icon-button [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
    </button>
    <h6>Create Lesson</h6>
    <button class="create-button" mat-raised-button [disabled]="!createLessonForm.valid" type="submit" color="primary">Create!</button>

    <hr style="width: 100%">

    <!-- Create card for the standard lesson info -->

    <mat-card>

        <mat-card-header>
            <mat-card-title>Lesson Basic Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Name:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="!createLessonForm.get('name').valid && createLessonForm.get('name').touched">Please enter a name.</mat-error>
            </mat-form-field>

                <textarea formControlName="content"></textarea>

        </mat-card-content>
    </mat-card>


    <!-- Create card to add definitions -->
    <mat-card>
        <mat-card-header class="d-flex justify-content-between">
                <mat-card-title>Lesson Definitions</mat-card-title>
                <button type="button" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
        </mat-card-header>
        <mat-card-content>
            <p>Add a definition...</p>
        </mat-card-content>
    </mat-card>

</div>
</form>



