.close-button {
    position: absolute;
    left: 0px;
    top: 0px;
}

.create-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

mat-card {
    width: 700px;
    margin: 25px auto;
}

mat-form-field {
    display: inline;
}