mat-form-field {
    display: inline;
}

mat-form-field.test {
    display: inline-block;
    margin: 0 5px;
}

.mat-raised-button {
    margin: 0 5px;
}

.deleteable {
    background-color: rgb(234, 195, 195);
    border-radius: 5px;
}

.deleteable:hover {
    background-color: rgb(207, 82, 82);
}