<div class="container-fluid">
    <div class="row">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="col-sm-5 mx-auto" *ngIf="!isLoading">
            <div style="text-align: center">
                <h1>Login</h1>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <label for="email_address">Email:</label>
                    <input 
                        type="text"
                        id="email_address"
                        class="form-control"
                        formControlName="email_address"
                    >
                    <p *ngIf="!loginForm.get('email_address').valid && loginForm.get('email_address').touched">Invalid email.</p>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input
                        type="password"
                        id="password"
                        class="form-control"
                        formControlName="password"
                    >
                    <p *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter a password.</p>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </form>
        </div>
    </div>
</div>