<div class="row">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card class="col-sm-3 mx-auto" *ngIf="!isLoading">
        <mat-card-title>{{title}}</mat-card-title>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="fill">
                <mat-label>First Name:</mat-label>
                <input matInput formControlName="firstName">
                <mat-error *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched">
                        <span *ngIf="signUpForm.get('firstName').errors['nameLengthIsTooLong']">Name length must be less than 50 characters.</span>
                        <span *ngIf="signUpForm.get('firstName').errors['required']">This field is required.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Last Name:</mat-label>
                <input matInput formControlName="lastName">
                <mat-error *ngIf="!signUpForm.get('lastName').valid && signUpForm.get('lastName').touched">
                        <span *ngIf="signUpForm.get('lastName').errors['nameLengthIsTooLong']">Name length must be less than 50 characters.</span>
                        <span *ngIf="signUpForm.get('lastName').errors['required']">This field is required.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email:</mat-label>
                <input matInput formControlName="emailAddress">
                <mat-error *ngIf="!signUpForm.get('emailAddress').valid && signUpForm.get('emailAddress').touched">Please enter a valid email.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password:</mat-label>
                <input matInput formControlName="password">
                <mat-error *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">Please enter a password.</mat-error>
            </mat-form-field>
        
            <button mat-raised-button color="primary" type="submit" [disabled]="!signUpForm.valid">Sign-Up</button>
        </form>
        <hr>
        <button mat-raised-button color="accent" type="button" [routerLink]="['/sign-up', otherType]">Sign up as a {{otherType}} instead!</button>

    </mat-card>
</div>
